@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    margin-top: 30px;
    position: absolute;
    justify-content: space-around;
    background-color: transparent;
}

.logo {
    font-weight: 700;
    color: rgb(245, 0, 0);
}

.logo:hover {
    font-size: 29px;
    color: rgb(235, 151, 151);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    font-weight: 600;
    list-style-type: none;
}

.social {
    display: flex;
    list-style-type: none;

}

.navbar li a,
.social li i {
    margin: 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar li a:hover {
    font-size: 18px;
    transition: 0.3s;
    color: rgb(245, 0, 0);
}

.social li i:hover {
    font-size: 18px;
    transition: 0.3s;
    color: rgb(245, 0, 0);
}

.container {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doggos-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

button {
    margin-top: 10px;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: cadetblue;
}

.dog-box {
    display: flex;
    margin: 30px;
    background-color: burlywood;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1000px) {
    .doggos-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .logo {
        display: none;
    }

    .social {
        display: none;
    }
}