@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-flow: column wrap;
}

li, a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

header {
    width: 100%;
    display: flex;
    z-index: 999;
    padding: 30px 10%;
    position: absolute;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
}

video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    object-fit: cover;
    position: absolute;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000;
    mix-blend-mode: overlay;
}

.logo {
    font-weight: 900;
    color: white;
}

.text {
    height: 400px;
    width: 450px;
    z-index: 10;
    margin-left: 100px;
    left: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
}

.text h2 {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.text p {
    font-size: 20px;
    color: white;
}

.showcase {
    right: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    transition: 0.5s;
    min-height: 100vh;
    background: #111;
    position: absolute;
    justify-content: center;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-links a {
    margin: 10px;
}